@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Illumina Ubuntu";
    src: url("/client-assets/fonts/Ubuntu-C.ttf");
}

@font-face {
    font-family: "Illumina Volter";
    src: url("/client-assets/fonts/volter/volter.woff");
}

@font-face {
    font-family: "Illumina Volter Bold";
    src: url("/client-assets/fonts/volter/volter-bold.woff");
}

* {
    line-height: 16px !important;
    letter-spacing: 0.3px;
    appearance: none;
}

html,
body {
    font-family: "Illumina Ubuntu", sans-serif;
    overflow: hidden;
    overscroll-behavior: none;
}

img {
    object-fit: none;
}

img,
i {
    flex-shrink: 0;
}

input,
select,
textarea,
button {
    background-color: transparent;
    font-family: "Illumina Ubuntu", sans-serif;

    &:focus,
    &:focus-visible {
        outline: none !important;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;
    appearance: none
}

input[type=number] {
    -moz-appearance: textfield;
}

textarea {
    resize: none;
}

.pixelated {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

.nitro-app {
    width: 100%;
    height: 100%;
}

@import './components';